[Unit]
Description=PostgreSQL Backup Service
After=network.target

[Service]
Type=oneshot
ExecStartPre=chmod +x /home/demo_user/pg_backup.py
ExecStart=/usr/bin/python3 /home/demo_user/pg_backup.py
User=demo_user

[Install]
WantedBy=multi-user.target