[Unit]
Description=pgBackRest full backup (stanza main)
After=network.target postgresql@18-main.service
Requires=postgresql@18-main.service
Conflicts=pgbackrest-incr.service

[Service]
Type=oneshot
User=postgres
ExecStart=/usr/bin/pgbackrest --stanza=main --repo=1 --type=full backup
ExecStart=/usr/bin/pgbackrest --stanza=main --repo=2 --type=full backup
